body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-flow: column;
  justify-self: center;
  background-color: teal;
}

.Test-Hook {
  display: flex;
  border: 0.05rem solid whitesmoke;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  width: 360px;
  letter-spacing: 2px;
  background-color: grey;
  color: whitesmoke;
}
.Test-Hook:hover {
  background-color: whitesmoke;
  color: grey;
}
