.SortBar {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
  padding: 0.5rem;
  margin: 0.2rem;
  /* border: 1px solid black; */
  border-radius: 0.5rem;
}
.Category {
  letter-spacing: 2px;
}
